<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{% block title %}Welcome!{% endblock %}</title>
      {% block stylesheets %}

      <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
      <link href="{{ asset('bootstrap/css/3-col-portfolio.css ') }}" rel="stylesheet" />
      {% endblock %}
  </head>
  
  <body>
    <div id="sidebar">
    {% block sidebar %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/home">Harfony</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Accueil
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/musique">Musique</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/images">Images</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chat">Chatroom</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/calendrier">Calendrier</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/partage">Partage de fichiers</a>
            </li>
	    <li class="nav-item">
              <a class="nav-link" href="/login">Connexion</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}
    </div>

    <div id="content">
    	{% block body %}
    	{% endblock %}
    </div>

    {% block javascripts %}
    <!-- Bootstrap core JavaScript -->	
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    {% endblock %}
  </body>
</html>
