{% extends 'base.html.twig' %}

{% block title %} Harfony| Musiques {% endblock %}

{% block body %}
	{% for i in 0..10 %}
		<div>
			<a href="{{ asset('running_in_the_90s.mp3') }}" download>
				<img src = {{ asset('rainbow_squirrel.png') }} width="120", height="130">
			</a>
			<p>Titre : *titre de la musique à insérer*</p>
			<p> *Système d'étoiles à mettre ici* </p>
			<p> Posté par : *user* le *date* à *heure*</p>
			<p> *small description* </p>
			<p> *les commentaires* </p> 
		</div>
	{% endfor %}

{% endblock %}
