<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{lol}}Formulaire de login</title>
    </head>
<body>

	{# app/Resources/views/security/login.html.twig #}
	{% if error %}
	<div>{{ error.messageKey|trans(error.messageData,'security') }}</div>
	{% endif %}
	<form action="{{ path('login') }}" method="post">
		<label for="username">Username:</label>
		<input type="text" id="username" name="_username" value="{{last_username }}" />
		<label for="password">Password:</label>
		<input type="password" id="password" name="_password" />
		{# pour contrôler l’url où l’utilisateur est redirigéen cas de succès :
		<input type="hidden" name="home" value="/account" /> #}
		<button type="submit">login</button>
	</form>
	
	</body>
	
</html>
